include *.py
include *.txt
include buildout.cfg
include plone.cfg
include *.GPL
include *.rst
recursive-exclude docs _build _build/* Makefile html/.directory
recursive-exclude docs make.bat _static _static/*
recursive-include docs *.GPL
recursive-include docs *.txt
recursive-include tdf *.css
recursive-include tdf *.gif
recursive-include tdf *.png
recursive-include tdf *.pot
recursive-include tdf *.pt
recursive-include tdf *.txt
recursive-include tdf *.xml
recursive-include tdf *.zcml
recursive-include docs *.css
recursive-include docs *.gif
recursive-include docs *.html
recursive-include docs *.js
recursive-include docs *.pdf
recursive-include docs *.png
recursive-include docs *.rst
recursive-include tdf *.gitkeep
recursive-include tdf *.po

